<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

body{
    background: #bda9f8;
}

.btn {
  border-radius: 2px;
  font-weight: 700;
  text-align: center;
  border: 0;
  line-height: 1;
  font-size: .875rem;
  padding: 13px;
  min-width: 130px;
  display: inline-block;
  box-shadow: 0 2px 9px 0 rgba(255,255,255,.08);
  letter-spacing: .5px;
  background-image: linear-gradient(134deg,#9878f7 0,#d79bec 100%);
  cursor: pointer;
  color: #dad8de;
}
    </style>
</head>
<body>
    <!-- <form action="/" method="post">
        <button class="btn px-3" style="background-color: blue; color:white"  name="signIn">Sign in</button>
        <button class="btn px-3" style="background-color: blue; color:white"  name="signUp">Sign up</button>
    </form> -->
    <div class="main-header-side main-header-side-right">
        <a href="http://localhost:8080/signIn" title="Sign in" class="btn" name="signIn">Sign in</a>
        <a href="http://localhost:8080/signUp" title="Sign Up" class="btn" name="signUp">Sign Up</a>
        <form autocomplete="off" class="auth" name="form" method="delete" action="/logOut">
            <button class="btn" type="submit" role="button" aria-label="Log Out">Log Out</button>
        </form>
    </div>
</body>
</html>